body {
    /*background-image: url('images/background.png');*/
    background-color: #d0e0f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-size: 20px;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url('images/shark_tank_sim.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}


.static-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 20%;
    background-image: url('images/st_logo.png');
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.loader {
    border: 16px solid #ffffff;
    border-top: 16px solid #d0e0f2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




#google-c {
    color: #4285F4;
}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    /*border: 1px solid black;*/
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.overlay {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    pointer-events: none;
    z-index: 1;
}

#top-text {
    display: none;
}

#top-text.visible+#overlay {
    display: none;
}


.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: transparent;
}

.feedback-buttons button{
    padding: 10px 20px;
    margin: 0px;
    background-color: #557DCD;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.feedback-buttons button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#answer-box-container {
    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px; /* Adjust the gap value as desired
    padding: 20px;*/
    width: 700px;
    height: 80vh;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
}

#answer-box {
    width: 100%;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
}


.card {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 20px;
}

.card-content {
    flex-grow: 1;
}

.card .pitch-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

.card .pitch-desc {
    font-size: 14px;
    margin-bottom: 10px;
}


.circle-rating {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #526D82;
    text-align: center;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.deal-shark {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.episode-rating {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.no-deal {
    color: #ad0f0f;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

.yes-deal {
    color: #1f6a20;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

@font-face {
    font-family: 'Kenyan Coffee';
    src: url('/static/fonts/kenyan_coffee_bd.otf') format('opentype');
    font-weight: bold;
}

.pitch-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

.pitch-desc {
    font-size: 20px;
}

.pitch-desc,
.episode-rating,
.no-deal,
.yes-deal,
.sharks-label,
.episode-rating {
    margin: 0;
    padding: 0;
}

.sharks-label,
.episode-rating {
    font-size: 15px;
}

#answer-box-container {
    width: 60%;
    margin: 0 auto;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-spinner img {
    width: 70%;
}

.shark-images {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.shark-img {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    margin-right: -15px; 
    border: 2px solid white; 
}

.shark-img:last-child {
    margin-right: 0;
}