<!doctype html>
<title>Shark Tank Simulation</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">



<body onclick="handleClick()">
    <div class="full-body-container" id="full-body-container">
        <!-- <div class="static-overlay"></div> -->
        <div class="overlay" id="overlay">CLICK TO ENTER THE TANK</div>
        <div class="top-text" id="top-text" style="display: none;">
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a pitch by business description" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box-container">
            <div id="loading-spinner" style="display: none;">
                <div class="loader"></div>
            </div>
            <div id="answer-box"></div>
        </div>
    </div>

    <script>
        function getImageSrc(dealShark) {
            switch (dealShark) {
                case "LG":
                    return 'images/lori.jpeg';
                case "BC":
                    return 'images/barbara.jpeg';
                case "KOL":
                    return 'images/kevin.jpeg';
                case "MC":
                    return 'images/mark.jpeg';
                case "RH":
                    return 'images/robert.jpeg';
                case "DJ":
                    return 'images/daymond.jpeg';
                case "Others":
                    return 'images/others.png';
                default:
                    return 'images/nodeal.png';
            }
        }

        function getShark(dealShark) {
            switch (dealShark) {
                case "LG":
                    return 'Lori Greiner';
                case "BC":
                    return 'Barbara Corcoran';
                case "KOL":
                    return "Kevin O'Leary";
                case "MC":
                    return 'Mark Cuban';
                case "RH":
                    return 'Robert Herjavec';
                case "DJ":
                    return 'Daymond John';
                case "Others":
                    return 'Guest';
                default:
                    return 'N/A';
            }
        }

        function answerBoxTemplate(businessIdentifier, businessDesc, dealShark, episodeRating, simScore) {
            let ratingDisplay = episodeRating ? `<p class='episode-rating'>Episode Rating: ${episodeRating}</p>` : `<p class='episode-rating'>Rating not available</p>`;
            let dealStatusMessage = dealShark == "N/A" ? `<p class="no-deal">NO DEAL</p>` : `<p class="yes-deal">DEAL</p>`;
            let imageSrc = getImageSrc(dealShark);

            let sharkImages = '';
            let sharkNames = '';

            const sharks = dealShark.split('+');
            sharks.forEach((shark, index) => {
                const sharkSrc = getImageSrc(shark);
                const sharkName = getShark(shark);

                sharkImages += `<img src="/static/${sharkSrc}" class="shark-img" alt="${shark}">`
                sharkNames += (index > 0 ? ' + ' : '') + sharkName;
            });


            
            if (dealShark.includes('+')){
                const sharks = dealShark.split('+');
                const shark1Src = getImageSrc(sharks[0]);
                const shark2Src = getImageSrc(sharks[1]);
                const shark1Name = getShark(sharks[0]);
                const shark2Name = getShark(sharks[1]);

                sharkName = shark1Name + " + " + shark2Name;
                sharkImages =`
                    <div class="shark-images">
                        <img src="/static/${shark1Src}" class="shark-img" alt="${sharks[0]}">
                        <img src="/static/${shark2Src}" class="shark-img" alt="${sharks[1]}">
                    </div>
                `;

            }
            //if there is 1 shark
            else{
                sharkImages =  `<img src="/static/${imageSrc}" alt="Shark Image" />`;
                sharkName = getShark(dealShark);
            }
            



            return `
            <div class='card'>
                <div class='card-content'>
                    <h3 class='pitch-title'>${businessIdentifier}</h3>
                    <p class='pitch-desc'>${businessDesc}</p>
                    <p class='deal-shark sharks-label'>Shark(s): ${sharkNames}</p>
                    ${ratingDisplay}
                    <p class='deal-shark sharks-label'>Relevance Score: ${simScore.toFixed(2)}</p>
                    <div></div>
                    <p class='deal-shark sharks-label'>Is this idea similar to your pitch?</p>
                    <div class='feedback-buttons'>
                        <button data-feedback="relevant" data-doc-id="${businessIdentifier}" class="thumbs-up"><i class="fa fa-thumbs-up"></i></button>
                        <button data-feedback="irrelevant" data-doc-id="${businessIdentifier}" class="thumbs-down"><i class="fa fa-thumbs-down"></i></button>
                    </div>
                 </div>
            ${sharkImages}
            </div>`;
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            document.getElementById("loading-spinner").style.display = "block"; // Show spinner
            fetch("/pitches?" + new URLSearchParams({ query: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        let simScore = row.similarity_score;
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.Pitched_Business_Identifier, row.Pitched_Business_Desc, row.Deal_Shark, row.US_Viewership, simScore)
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                    document.getElementById("loading-spinner").style.display = "none"; // Hide spinner once data is loaded

                    attachFeedbackButtonListeners();
                });
        }

        function handleClick() {
            document.getElementById('full-body-container').style.backgroundImage = 'none';
            //document.getElementById('full-body-container').style.backgroundImage = "url('{{ url_for('static', filename='images/background.png') }}')";
            document.getElementById('top-text').style.display = "block";
            // document.getElementById("answer-box-container").style.border = "1px solid #000";
            document.getElementById("overlay").style.display = "none";
        }

        function attachFeedbackButtonListeners() {
            const buttons = document.querySelectorAll('.feedback-buttons button');

            buttons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();

                    // button click feedback and disabling
                    const buttonsContainer = this.closest('.feedback-buttons');
                    const pitchButtons = buttonsContainer.querySelectorAll('button');

                    pitchButtons.forEach(btn => {
                        btn.disabled = true;
                        if (btn !== this) {
                            btn.classList.add('disabled');
                        }
                    });

                    this.disabled = false;
                    this.classList.remove('disabled');
                    if (this.dataset.feedback === 'relevant') {
                        this.classList.add('thumbs-up-clicked');
                    } else if (this.dataset.feedback === 'irrelevant') {
                        this.classList.add('thumbs-down-clicked');
                    }

                    //console.log('Button clicked:', event.target);
                    const feedback = this.getAttribute('data-feedback');
                    //console.log('Feedback:', feedback);
                    const docId = this.getAttribute('data-doc-id');

                    fetch('/feedback', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ feedback: feedback, doc_id: docId }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Feedback received:', data);
                        })
                        .catch(error => {
                            console.error('Error sending feedback:', error);
                        });
                });
            });
        }

    </script>
</body>