<!doctype html>
<title>Shark Tank Simulation</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">


<body onclick="handleClick()">
    <div class="full-body-container" id="full-body-container">
        <!-- <div class="static-overlay"></div> -->
        <div class="overlay" id="overlay">CLICK TO ENTER THE TANK</div>
        <div class="top-text" id="top-text" style="display: none;">
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a pitch by business description" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box-container">
            <div id="loading-spinner" style="display: none;">
                <div class="loader"></div>
            </div>
            <div id="answer-box"></div>
        </div>
    </div>

    <script>
        function getImageSrc(dealShark) {
            switch (dealShark) {
                case "LG":
                    return 'images/lori.jpeg';
                case "BC":
                    return 'images/barbara.jpeg';
                case "KOL":
                    return 'images/kevin.jpeg';
                case "MC":
                    return 'images/mark.jpeg';
                case "RH":
                    return 'images/robert.jpeg';
                case "DJ":
                    return 'images/daymond.jpeg';
                default:
                    return 'images/nodeal.png';
            }
        }

        function answerBoxTemplate(businessIdentifier, businessDesc, dealShark, episodeRating) {
            let ratingDisplay = episodeRating ? `<p class='episode-rating'>Episode Rating: ${episodeRating}</p>` : `<p class='episode-rating'>Rating not available</p>`;
            let dealStatusMessage = dealShark == "N/A" ? `<p class="no-deal">NO DEAL</p>` : `<p class="yes-deal">DEAL</p>`;
            let imageSrc = getImageSrc(dealShark);
            // Here, we concatenate the strings correctly using backticks and ${} for variables
            return `
            <div class='card'>
                <div class='card-content'>
                    <h3 class='pitch-title'>${businessIdentifier}</h3>
                    <p class='pitch-desc'>${businessDesc}</p>
                    <p class='deal-shark sharks-label'>Sharks: ${dealShark}</p>
                    ${ratingDisplay}
                 </div>
            <img src="/static/${imageSrc}" alt="Shark Image" />
            </div>`;

        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            document.getElementById("loading-spinner").style.display = "block";
            fetch("/pitches?" + new URLSearchParams({ query: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.Pitched_Business_Identifier, row.Pitched_Business_Desc, row.Deal_Shark, row.US_Viewership)
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                    document.getElementById("loading-spinner").style.display = "none";
                });
        }
        function handleClick() {
            document.getElementById('full-body-container').style.backgroundImage = 'none';
            //document.getElementById('full-body-container').style.backgroundImage = "url('{{ url_for('static', filename='images/background.png') }}')";
            document.getElementById('top-text').style.display = "block";
            // document.getElementById("answer-box-container").style.border = "1px solid #000";
            document.getElementById("overlay").style.display = "none";
        }

        document.getElementById('full-body-container').addEventListener('mousemove', function (e) {
            const bounds = this.getBoundingClientRect();
            const x = e.clientX - bounds.left;
            const y = e.clientY - bounds.top;
            const centerX = bounds.width / 2;
            const centerY = bounds.height / 2;
            const deltaX = (x - centerX) * 0.05; // Change the multiplier to adjust sensitivity
            const deltaY = (y - centerY) * 0.05; // Change the multiplier to adjust sensitivity
            this.style.backgroundPosition = `${50 - deltaX}% ${50 - deltaY}%`;
        });

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            document.getElementById("loading-spinner").style.display = "block"; // Show spinner
            fetch("/pitches?" + new URLSearchParams({ query: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.Pitched_Business_Identifier, row.Pitched_Business_Desc, row.Deal_Shark, row.US_Viewership)
                        document.getElementById("answer-box").appendChild(tempDiv);
                    });
                    document.getElementById("loading-spinner").style.display = "none"; // Hide spinner once data is loaded
                });
        }


    </script>
</body>