<!doctype html>
<title>Shark Tank Simulation</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">


<body onclick="handleClick()">
    <div class="full-body-container" id="full-body-container">
        <div class="overlay" id="overlay">Click anywhere to start!</div>
        <div class="top-text" id="top-text" style="display: none;">
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a pitch by business description" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box-container">
            <div id="answer-box"></div>
        </div>
    </div>

    <script>

        function answerBoxTemplate(businessIdentifier, businessDesc, dealShark, episodeRating) {
            let ratingDisplay = episodeRating ? `<p class='episode-rating'>Episode Rating: ${episodeRating}</p>` : `<p class='episode-rating'>Rating not available</p>`;
            let dealStatusMessage = !dealShark ? `<p class="no-deal">NO DEAL</p>` : `<p class="yes-deal">DEAL</p>`;
            return `<div class=''>
            <h3 class='pitch-title'>${businessIdentifier}</h3>
            ${dealStatusMessage}
            <p class='pitch-desc'>${businessDesc}</p>
            <p class='deal-shark sharks-label'>Sharks: ${dealShark}</p>
            ${ratingDisplay}
            </div>`
        }


        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            fetch("/pitches?" + new URLSearchParams({ query: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.Pitched_Business_Identifier, row.Pitched_Business_Desc, row.Deal_Shark, row.US_Viewership)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    });
                });
        }
        function handleClick() {
            document.getElementById('full-body-container').style.backgroundImage = "url('{{ url_for('static', filename='images/background.png') }}')";
            document.getElementById('top-text').style.display = "block";
            // document.getElementById("answer-box-container").style.border = "1px solid #000";
            document.getElementById("overlay").style.display = "none";
        }
    </script>
</body>